* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
}
:root {
    /* Color styles */
    --primary: #FFFFFF;
    --secundary: #1A1A1A;
    --brand: #FF6900;
    --sales: #FF0000;
    --sustain: #008000;
    --dark-text: #000000;
}
/* Temporary */
.debug {
    border: 1px solid blue;
}
.photo.deb-col {
 color: blue;
}
/* General */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Padding */
.left-pad {
    padding-left: 10px;
}
.right-pad {
    padding-right: 25px;
}
/* Flex */
.d-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.just-between {
    justify-content: space-between;
}
/* To Center */
.just-center {
    justify-content: center;
}
/* Header */
header {
    background-color: var(--brand);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.4);
}
header nav {
    padding: 10px 5px;
}
.center-nav {
    width: 170px;
}
.center-nav img {
    width: 100%;
}
/* Main */
.col {
    width: calc(100% / 3);
}
.col article{
    padding: 10px 5px;
}
/* Photo */
.photo img {
    width: 100%;
}
.photo {
    position: relative;
}
.tag {
    position: absolute;
    left: 0;
    bottom: 20px;
}
.sale-tag {
    background-color: var(--sales);
    padding: 2px 3px;
}
.sustain-tag {
    background-color: var(--sustain);
    padding: 2px 3px;
}
.heart {
    background-color: var(--primary);
    color: var(--dark-text);
    font-size: 2.1rem;
    padding: 2px 15px;
    position: absolute;
    right: 0;
    top: 15px;
}
/* Text */
.text * {
    color: var(--dark-text);
}
.name-item {
    text-transform: uppercase;
}
.sale-price {
    color: var(--sales);
    font-weight: 600;   
}
.full-price {
    text-decoration: line-through;
}
/* Footer */
footer {
    background-color: var(--secundary);
}